/*
 * Empty Stylesheet file.
 */

/* AnchorPane styles */
#AnchorPane {
    -fx-background-color: #f0f0f0;
}

/* Background image */
#backgroundImage {
    -fx-opacity: 0.9;
}

/* Form container */
#formContainer {
    -fx-spacing: 6;
    -fx-alignment: center;
}

/* Text fields */
.textField {
    -fx-background-radius: 40px;

    -fx-padding: 20px;
    -fx-font-size: 20px;
    -fx-pref-width: 160px;
}

/* Login button */
.loginButton {
    -fx-background-color: #e28409;
    -fx-text-fill: white;
    -fx-background-radius: 20px;
    -fx-font-size: 20px;
    -fx-padding: 3px;
}

/* Register hyperlink */
.registerLink {
    -fx-text-fill: #ffffffde;
    -fx-font-size: 20px;
}

/* Error labels */
.errorLabel {
    -fx-text-fill: red;
    -fx-font-size: 20px;
}

