/*
 * Empty Stylesheet file.
 */
/*
.root {
    -fx-background-color: #436399;
}
*/

.root {
    -fx-background-image: url("../images/splash.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
